

.button-36 {
  background-image: linear-gradient(92.88deg, #41da4e 9.16%, #43cc57 43.89%, #3fd744 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display","Segoe UI","Roboto",Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 0px 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(120, 241, 15, 0.83) 0 1px 20px;
  transition-duration: .1s;
}

.button-37{
  background-image: linear-gradient(92.88deg, #ef6f0e 9.16%, #e03c1b 43.89%, #f25e4e 64.72%);
}
.button-37:hover {
  box-shadow: rgba(227, 15, 15, 0.728) 0 1px 20px;
  transition-duration: .1s;
}