*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url(./img/K5pvrX.jpg);
    
}
.container{
    margin: auto;
    max-width: 90%;
}