:root {
  --color-bg-1: white;
  --color-bg-2: rgba(246, 246, 246, 0.6);
  --color-text: rgb(0, 0, 0);
  --color-text-shadow: rgba(0, 0, 0, 0.3);
  --color-logo: rgb(54, 54, 54);
  --transition-switch: all 0.6s;
  --header-bg: linear-gradient(to left, rgb(255, 255, 255, 0),rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 1));
}

.dark {
  --color-bg-1: rgb(0, 0, 0);
  --color-bg-2: rgba(0, 0, 0, 0.6);
  --color-text: rgb(255, 255, 255);
  --color-text-shadow: rgba(255, 255, 255, 1);
  --color-logo: rgb(255, 255, 255);
  --color-logo-shadow: rgba(255, 255, 255, 1);
  --header-bg: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(255, 255, 255,0.3),rgb(255, 255, 255, 0));
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.small__img .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.small__img .swiper-slide-thumb-active {
  opacity: 1;
  transform: scale(1);
}

.button-36 {
  background-image: linear-gradient(92.88deg, #41da4e 9.16%, #43cc57 43.89%, #3fd744 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display","Segoe UI","Roboto",Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 0px 10px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(120, 241, 15, 0.83) 0 1px 20px;
  transition-duration: .1s;
}

.button-37 {
  background-image: linear-gradient(92.88deg, #ef6f0e 9.16%, #e03c1b 43.89%, #f25e4e 64.72%);
}

.button-37:hover {
  box-shadow: rgba(227, 15, 15, 0.915) 0 1px 20px;
  transition-duration: .1s;
}

.button-38 {
  background-image: linear-gradient(92.88deg, #1c4ecc 9.16%, #2e1cd5 43.89%, #4e8df2 64.72%);
}

.button-38:hover {
  box-shadow: rgba(19, 15, 227, 0.958) 0 1px 20px;
  transition-duration: .1s;
}

.close span {
  color: var(--color-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url(../img/vIdSZT.jpg);
}

.container {
  margin: auto;
  max-width: 90%;
}

#loading {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.843);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.7s;
}

#loading .loading__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loading .loading__content .dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading .loading__content .dank-ass-loader .row {
  display: flex;
}

#loading .loading__content .loading__text h1 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 15px white;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid white;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px white);
}

.arrow.down {
  transform: rotate(180deg);
}

.arrow.outer-1 {
  animation-delay: -0.05556s;
}

.arrow.outer-2 {
  animation-delay: -0.11111s;
}

.arrow.outer-3 {
  animation-delay: -0.16667s;
}

.arrow.outer-4 {
  animation-delay: -0.22222s;
}

.arrow.outer-5 {
  animation-delay: -0.27778s;
}

.arrow.outer-6 {
  animation-delay: -0.33333s;
}

.arrow.outer-7 {
  animation-delay: -0.38889s;
}

.arrow.outer-8 {
  animation-delay: -0.44444s;
}

.arrow.outer-9 {
  animation-delay: -0.5s;
}

.arrow.outer-10 {
  animation-delay: -0.55556s;
}

.arrow.outer-11 {
  animation-delay: -0.61111s;
}

.arrow.outer-12 {
  animation-delay: -0.66667s;
}

.arrow.outer-13 {
  animation-delay: -0.72222s;
}

.arrow.outer-14 {
  animation-delay: -0.77778s;
}

.arrow.outer-15 {
  animation-delay: -0.83333s;
}

.arrow.outer-16 {
  animation-delay: -0.88889s;
}

.arrow.outer-17 {
  animation-delay: -0.94444s;
}

.arrow.outer-18 {
  animation-delay: -1s;
}

.arrow.inner-1 {
  animation-delay: -0.16667s;
}

.arrow.inner-2 {
  animation-delay: -0.33333s;
}

.arrow.inner-3 {
  animation-delay: -0.5s;
}

.arrow.inner-4 {
  animation-delay: -0.66667s;
}

.arrow.inner-5 {
  animation-delay: -0.83333s;
}

.arrow.inner-6 {
  animation-delay: -1s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

header .header__content .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
  background: var(--header-bg);
  border-bottom: 1px solid var(--color-text);
  box-shadow: 0 0 15px var(--color-text-shadow);
  transition: all 0.6s;
}

header .header__content .navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: none;
  font-size: 40px;
  font-weight: 600;
  color: var(--color-logo);
  text-shadow: 0 0 15px var(--color-logo-shadow);
  transition: all 0.6s;
}

header .header__content .navbar .navbar-brand i {
  font-size: 60px;
}

header .header__content .navbar .navbar__func {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header__content .navbar .navbar__func .admin_page a {
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  text-decoration: none;
}

header .header__content .navbar .navbar__func .admin_page a i {
  font-size: 30px;
}

header .header__content .navbar .navbar__func .admin_page:hover {
  text-shadow: 0 0 15px white;
}

header .header__content .navbar .navbar__func .mt-ios {
  box-shadow: 0 0 15px var(--color-text-shadow);
  border-radius: 20px;
  margin-left: 40px;
}

header .header__content .navbar .navbar__func .cart__watch {
  position: relative;
  margin-left: 40px;
  box-shadow: 0 0 15px var(--color-text-shadow);
  background-color: var(--color-bg-1);
  border-radius: 5px;
  border: 1px solid var(--color-text);
  color: var(--color-text);
}

header .header__content .navbar .navbar__func .cart__watch .btn__cart {
  color: var(--color-text);
}

header .header__content .navbar .navbar__func .total__item {
  position: absolute;
  top: -12px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: red;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-text);
}

.header__content .navbar .navbar__func .mt-ios label {
  margin-bottom: 0;
  display: flex;
}

.mt-ios-blue input:checked + label,
.mt-ios-red input:checked + label,
.mt-ios input:checked + label {
  box-shadow: inset 0 0 0 1.5em #000000cb, 0 0 0 0.1875em #000000cb;
}

.mt-ios-blue label,
.mt-ios-red label,
.mt-ios label {
  width: 60px;
  height: 30px;
  box-shadow: inset 0 0 0 0 #000000, 0 0 0 0.1875em #ddd;
}

.mt-ios-blue label:before,
.mt-ios-red label:before,
.mt-ios label:before {
  content: "";
  width: 30px;
  height: 30px;
}

.detail__watch .modal-content {
  background-color: var(--color-bg-1);
  box-shadow: 0 0 15px var(--color-text-shadow);
  border: 1px solid var(--color-text);
}

.detail__watch .modal-content .detail {
  overflow: hidden;
  display: flex;
  align-items: unset;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 20px;
}

.detail__watch .modal-content .detail .detail__left {
  width: 55%;
  height: 90%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.detail__watch .modal-content .detail .detail__left .big__img {
  width: 100%;
  height: 65vh;
  padding: 0;
  border: 1px solid rgba(164, 164, 164, 0.6);
}

.detail__watch .modal-content .detail .detail__left .big__img img {
  width: 100%;
}

.detail__watch .modal-content .detail .detail__left .small__img {
  height: 100%;
  margin-top: 20px;
  border-top: 1px solid rgba(162, 160, 160, 0.6);
  border-bottom: 1px solid rgba(162, 160, 160, 0.6);
}

.detail__watch .modal-content .detail .detail__left .small__img .swiper-wrapper {
  justify-content: baseline;
}

.detail__watch .modal-content .detail .detail__left .small__img .swiper-wrapper .swiper-slide {
  overflow: hidden;
  width: 80px;
  height: 10vh;
  padding: 0;
  border: 1px solid black;
  margin-right: 20px;
  transition: all 0.3s;
  transform: scale(0.8);
}

.detail__watch .modal-content .detail .detail__left .small__img .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.detail__watch .modal-content .detail .detail__left .small__img .swiper-wrapper .swiper-slide:hover {
  opacity: 1;
}

.detail__watch .modal-content .detail .detail__left .small__img .swiper-wrapper .swiper-slide:focus {
  transform: scale(1);
}

.detail__watch .modal-content .detail .detail__left .small__img .swiper-wrapper .swiper-slide-thumb-active {
  transform: scale(1);
  border: 3px solid var(--color-text);
}

.detail__watch .modal-content .detail .detail__right {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  width: 30%;
  height: unset;
  padding: 10px 0;
  flex-direction: column;
  align-content: space-between;
  position: relative;
}

.detail__watch .modal-content .detail .detail__right .detail__text {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}

.detail__watch .modal-content .detail .detail__right .detail__text span {
  font-size: 16px;
  font-weight: 400;
  color: inherit;
}

.detail__watch .modal-content .detail .detail__right .detail__button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid rgba(162, 160, 160, 0.6);
}

.detail__watch .modal-content .detail .detail__right .detail__button .btn {
  width: 48%;
}

.detail__watch .modal-content .detail .detail__right .close {
  position: absolute;
  top: -5%;
  right: 0;
  font-size: 4rem;
  display: block;
}

.shop {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2%;
  padding: 30px;
  background-color: var(--color-bg-2);
  box-shadow: 0 0 15px var(--color-text-shadow);
  border: 1px solid var(--color-text);
  height: 100%;
  transition: all 0.6s;
  margin-bottom: 50px;
}

.shop .watch__item {
  background-color: var(--color-bg-1);
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.2s, transform 0.2s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  cursor: pointer;
  border: 1px solid rgba(178, 178, 178, 0.753);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 5px;
  max-height: 420px;
  transition: all 0.6s;
}

.shop .watch__item .watch__img {
  background-color: white;
  width: 100%;
  height: 75%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.shop .watch__item .watch__img img {
  transition: all 0.3s;
  transform: scale(0.35);
}

.shop .watch__item .watch__text {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.shop .watch__item .watch__text h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
}

.shop .watch__item .watch__text p {
  font-size: 15px;
  font-weight: 400;
  color: #14ab14;
}

.shop .watch__item .watch__overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100%;
  padding: 0;
  transform: skew(-30deg);
  background: linear-gradient(to Right, transparent, white);
  transition: none;
  opacity: 0;
  visibility: hidden;
}

.shop .watch__item:hover {
  box-shadow: var(--color-text-shadow) 0 4px 8px, var(--color-text-shadow) 0 7px 13px -10px, var(--color-text-shadow) 0 -3px 0 inset;
  transform: translateY(-5px);
}

.shop .watch__item:hover img {
  transform: scale(0.38);
}

.shop .watch__item:hover .watch__overlay {
  transform: skew(-30deg) translate(650%);
  transition: all 0.6s;
  opacity: 1;
  visibility: visible;
}

.shop .watch__item:focus {
  box-shadow: black 0 0 0 10px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.shop .watch__item:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(5px);
}

.modal-dialog .cart {
  border: 1px solid var(--color-text);
}

.modal-dialog .cart .modal-header {
  display: inline;
  text-align: center;
  position: relative;
  background-color: var(--color-bg-1);
  min-height: 100px;
}

.modal-dialog .cart .modal-header h5 {
  display: inline;
  font-weight: 700;
  color: var(--color-text);
}

.modal-dialog .cart .modal-header .close {
  position: absolute;
  top: 35px;
  right: 35px;
  padding: 0;
}

.modal-dialog .cart .table__cart {
  text-align: center;
  margin: 0;
  background-color: var(--color-bg-1);
  color: var(--color-text);
}

.modal-dialog .cart .table__cart .tr__empty {
  height: 300px;
  position: relative;
}

.modal-dialog .cart .table__cart .tr__empty .td__empty {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  color: gray;
  border: none;
}

.modal-dialog .cart .table__cart .cart__content {
  line-height: 5;
}

.modal-dialog .cart .table__cart .cart__content td {
  padding: 0;
}

.modal-dialog .cart .table__cart .cart__content td img {
  width: 50px;
}

.modal-dialog .cart .table__cart .cart__content td .quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

.modal-dialog .cart .table__cart .cart__content td .quantity .btn__quantity {
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  background-color: #f2ff3a;
  cursor: pointer;
  transition: all 0.5s;
}

.modal-dialog .cart .table__cart .cart__content td .quantity .btn__quantity:hover {
  background-color: #bdb76b;
  color: #008080;
}

.modal-dialog .cart .table__cart .cart__content td .quantity .number {
  padding: 0 5px;
}

.modal-dialog .cart .table__cart .cart__content td .delete__item i {
  cursor: pointer;
  font-size: 18px;
  transition: all 0.4s;
}

.modal-dialog .cart .table__cart .cart__content td .delete__item i:hover {
  color: red;
}

.modal-dialog .cart .cart__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dee2e6;
  background-color: var(--color-bg-1);
  color: var(--color-text);
  min-height: 100px;
}

.modal-dialog .cart .cart__footer .cart__total {
  padding: 0.75rem;
}

.modal-dialog .cart .cart__footer .cart__total p {
  font-weight: 600;
  margin: 0;
}

.modal-dialog .cart .cart__footer .modal-footer {
  border: none;
}

.filter .form-control, .filter .custom-select {
  transition: var(--transition-switch);
  background-color: var(--color-bg-1);
  color: var(--color-text);
  box-shadow: 0 0 15px var(--color-text-shadow);
}

.filter .Input_search {
  border-radius: 5px;
  box-shadow: 0 0 15px var(--color-text-shadow);
}

.filter .Input_search i {
  background-color: var(--color-bg-1);
  color: var(--color-text);
  box-shadow: 0 0 15px var(--color-text-shadow);
  width: 50px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  border: 1px solid var(--color-text);
}
/*# sourceMappingURL=main.css.map */