.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.small__img .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.small__img .swiper-slide-thumb-active {
  opacity: 1;
  transform: scale(1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url(./img/K5pvrX.jpg);
}

.container {
  margin: auto;
  max-width: 90%;
}

#loading {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.843);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.7s;
}

#loading .loading__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loading .loading__content .dank-ass-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading .loading__content .dank-ass-loader .row {
  display: flex;
}

#loading .loading__content .loading__text h1 {
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid white;
  animation: blink 1s infinite;
  filter: drop-shadow(0 0 18px white);
}

.arrow.down {
  transform: rotate(180deg);
}

.arrow.outer-1 {
  animation-delay: -0.05556s;
}

.arrow.outer-2 {
  animation-delay: -0.11111s;
}

.arrow.outer-3 {
  animation-delay: -0.16667s;
}

.arrow.outer-4 {
  animation-delay: -0.22222s;
}

.arrow.outer-5 {
  animation-delay: -0.27778s;
}

.arrow.outer-6 {
  animation-delay: -0.33333s;
}

.arrow.outer-7 {
  animation-delay: -0.38889s;
}

.arrow.outer-8 {
  animation-delay: -0.44444s;
}

.arrow.outer-9 {
  animation-delay: -0.5s;
}

.arrow.outer-10 {
  animation-delay: -0.55556s;
}

.arrow.outer-11 {
  animation-delay: -0.61111s;
}

.arrow.outer-12 {
  animation-delay: -0.66667s;
}

.arrow.outer-13 {
  animation-delay: -0.72222s;
}

.arrow.outer-14 {
  animation-delay: -0.77778s;
}

.arrow.outer-15 {
  animation-delay: -0.83333s;
}

.arrow.outer-16 {
  animation-delay: -0.88889s;
}

.arrow.outer-17 {
  animation-delay: -0.94444s;
}

.arrow.outer-18 {
  animation-delay: -1s;
}

.arrow.inner-1 {
  animation-delay: -0.16667s;
}

.arrow.inner-2 {
  animation-delay: -0.33333s;
}

.arrow.inner-3 {
  animation-delay: -0.5s;
}

.arrow.inner-4 {
  animation-delay: -0.66667s;
}

.arrow.inner-5 {
  animation-delay: -0.83333s;
}

.arrow.inner-6 {
  animation-delay: -1s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

header .header__content .navbar {
  display: flex;
  justify-content: space-between;
}

header .nav__icon {
  margin: 8px 0 0 8px;
  font-size: 50px;
  cursor: pointer;
}

header .nav__overplay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.5s;
  z-index: 99;
}

header .nav__text {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 320px;
  max-width: 100%;
  opacity: 0;
  transform: translate(-100%);
  transition: all linear 0.5s;
  z-index: 99;
}

header .nav__close {
  position: fixed;
  right: 10px;
  font-size: 50px;
  color: black;
}

header .nav__input {
  display: none;
}

header .nav__input:checked ~ .cdn {
  color: red;
}

header .nav__input:checked ~ .nav__overplay {
  display: block;
}

header .nav__input:checked ~ .nav__text {
  opacity: 1;
  transform: translate(0%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.detail__watch .detail {
  overflow: hidden;
  display: flex;
  align-items: unset;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 20px;
}

.detail__watch .detail .detail__left {
  width: 55%;
  height: 90%;
  padding: 0;
}

.detail__watch .detail .detail__left .big__img {
  width: 100%;
  height: 65vh;
  padding: 0;
}

.detail__watch .detail .detail__left .big__img img {
  width: 100%;
}

.detail__watch .detail .detail__left .small__img {
  height: 100%;
  margin-top: 20px;
  border-top: 1px solid rgba(162, 160, 160, 0.3);
  border-bottom: 1px solid rgba(162, 160, 160, 0.3);
}

.detail__watch .detail .detail__left .small__img .swiper-wrapper {
  justify-content: baseline;
}

.detail__watch .detail .detail__left .small__img .swiper-wrapper .swiper-slide {
  overflow: hidden;
  width: 80px;
  height: 10vh;
  padding: 0;
  border: 1px solid black;
  margin-right: 20px;
  transition: all 0.3s;
  transform: scale(0.8);
}

.detail__watch .detail .detail__left .small__img .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.detail__watch .detail .detail__left .small__img .swiper-wrapper .swiper-slide:hover {
  opacity: 1;
}

.detail__watch .detail .detail__left .small__img .swiper-wrapper .swiper-slide:focus {
  transform: scale(1);
}

.detail__watch .detail .detail__left .small__img .swiper-wrapper .swiper-slide-thumb-active {
  transform: scale(1);
  border: 3px solid black;
}

.detail__watch .detail .detail__right {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  width: 30%;
  height: unset;
  padding: 20px 0;
  flex-direction: column;
  position: relative;
}

.detail__watch .detail .detail__right .close {
  position: absolute;
  top: -5%;
  right: 0;
  font-size: 4rem;
  display: block;
}

.shop {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.shop .watch__item {
  background-color: white;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.2s, transform 0.2s;
  touch-action: manipulation;
  will-change: box-shadow, transform;
  cursor: pointer;
  border: 1px solid rgba(178, 178, 178, 0.753);
  overflow: hidden;
  width: 100%;
  height: 450px;
  padding: 5px;
}

.shop .watch__item .watch__img {
  background-color: white;
  width: 100%;
  height: 75%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop .watch__item .watch__img img {
  transition: all 0.3s;
  transform: scale(0.35);
}

.shop .watch__item .watch__text {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.shop .watch__item .watch__text h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #292929;
}

.shop .watch__item .watch__text p {
  font-size: 15px;
  font-weight: 400;
  color: green;
}

.shop .watch__item .watch__overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100%;
  padding: 0;
  transform: skew(-30deg);
  background: linear-gradient(to Right, transparent, white);
  transition: none;
  opacity: 0;
  visibility: hidden;
}

.shop .watch__item:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -10px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-5px);
}

.shop .watch__item:hover img {
  transform: scale(0.38);
}

.shop .watch__item:hover .watch__overlay {
  transform: skew(-30deg) translate(600%);
  transition: all 0.8s;
  opacity: 1;
  visibility: visible;
}

.shop .watch__item:focus {
  box-shadow: black 0 0 0 10px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.shop .watch__item:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(5px);
}

.cart .table__cart {
  text-align: center;
}

.cart .table__cart .cart__content {
  line-height: 5;
}

.cart .table__cart .cart__content td {
  padding: 0;
}

.cart .table__cart .cart__content td .quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

.cart .table__cart .cart__content td .quantity .quantity {
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f2ff3a;
  cursor: pointer;
}

.cart .table__cart .cart__content td .quantity .number {
  padding: 0 5px;
}
/*# sourceMappingURL=main.css.map */