@mixin Size($w,$h,$pd) {
    width: $w;
    height: $h;
    padding: $pd;
}
@mixin styleText($fs, $fw, $color){
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}
@mixin styleDisplay($dis,$align,$just) {
    display: $dis;
    align-items: $align;
    justify-content: $just;
}
@mixin bgColor($bg) {
    background-color: $bg ;
}