.detail__watch {
    .detail {
        overflow: hidden;
        @include styleDisplay(flex, unset, space-around);
        @include Size(100%, 100%, 20px);
        margin: 20px;
        .detail__left {
            @include Size(55%, 90%, 0);
            .big__img {
                @include Size(100%, 65vh, 0);
                img {
                    width: 100%;
                }
            }
            .small__img {
                height: 100%;
                margin-top: 20px;
                border-top: 1px solid rgba(162, 160, 160, 0.3);
                border-bottom: 1px solid rgba(162, 160, 160, 0.3);
                .swiper-wrapper{
                    justify-content: baseline;
                    .swiper-slide {
                        overflow: hidden;
                        @include Size(80px, 10vh, 0);
                        border: 1px solid black;
                        margin-right: 20px;
                        transition: all 0.3s;
                        transform: scale(0.8);
                        img {
                            display: block;
                            @include Size(100%,100%,0);
                        }
                        &:hover{
                            opacity: 1;
                        }
                        &:focus{
                            transform: scale(1);
                        }
                    }
                    .swiper-slide-thumb-active{
                        transform: scale(1);
                        border: 3px solid black;
                    }
                }
            }
        }
        .detail__right {
            @include styleDisplay(flex, unset, space-between);
            @include Size(30%, unset, 20px 0);
            flex-direction: column;
            position: relative;
            .close{
                position: absolute;
                top: -5%;
                right: 0;
                font-size: 4rem;
                display: block;
            }
        }
    }
}
