$color: white;
$size: 12px;
$time: 1;
#loading {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.843);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    .loading__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .dank-ass-loader {
            display: flex;
            flex-direction: column;
            align-items: center;
            .row {
                display: flex;
            }
        }
        .loading__text {
            h1 {
                text-align: center;
                @include styleText(40px, 500, $color);
                text-shadow: 0 0 10px white;
            }
        }
    }
}

.arrow {
    width: 0;
    height: 0;
    margin: 0 (-$size / 2);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $color;
    animation: blink $time + s infinite;
    filter: drop-shadow(0 0 ($size * 1.5) $color);

    &.down {
        transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
        &.outer-#{$i} {
            animation-delay: -($time / 18) * $i + s;
        }
    }

    @for $i from 1 through 6 {
        &.inner-#{$i} {
            animation-delay: -($time / 6) * $i + s;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
