.shop{
    background-color: aquamarine;
    .slider-for{
        .for__item{
            display: flex;
            justify-content: center;
            overflow: hidden;
            
            .item__img{
                display: flex;
                align-items: center;
                overflow: hidden;
                justify-content: center;
                @include Size(450px,300px,0,0);
                img{
                    @include Size(600px,400px,0,0);
                }
            }
            .item__text{      
            }
        }
    }
    .slider-nav{
        .nav__img{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img{
                @include Size(100px,80px,0,0);   
            }
        }
    }
}