.shop {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2%;
    padding: 30px;
    background-color: var(--color-bg-2);
    box-shadow: 0 0 15px var(--color-text-shadow);
    border: 1px solid var(--color-text);
    height: 100%;
    transition: all 0.6s;
    .watch__item {
        background-color: var(--color-bg-1);
        position: relative;
        text-decoration: none;
        transition: box-shadow 0.2s, transform 0.2s;
        touch-action: manipulation;
        will-change: box-shadow, transform;
        cursor: pointer;
        border:1px solid rgba(178, 178, 178, 0.753);
        border-radius: 10px;
        overflow: hidden;
        @include Size(100%, 100%, 5px);
        max-height: 420px;
        transition: all 0.6s;
        .watch__img {
            background-color: rgb(255, 255, 255);
            @include Size(100%, 75%, 0);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            img {
                transition: all 0.3s;
                transform: scale(0.35);
            }
        }
        .watch__text {
            text-align: center;
            @include Size(100%, 100%, 10px 10px);
            h4{
                @include styleText(1.2rem,600,var(--color-text))
            }
            p{
                @include styleText(15px,400,green)
            }
        }
        .watch__overlay{
            position: absolute;
            top: 0;
            left: -100%;
            @include Size(40%,100%,0);
            transform: skew(-30deg);
            background: linear-gradient(to Right, transparent, rgba(255, 255, 255, 1));
            transition: none;
            opacity:0;
            visibility: hidden;
        }
        &:hover {
            box-shadow: var(--color-text-shadow) 0 4px 8px, var(--color-text-shadow) 0 7px 13px -10px, var(--color-text-shadow) 0 -3px 0 inset;
            transform: translateY(-5px);
            img{
                transform: scale(0.38);
            }
            .watch__overlay{
                transform: skew(-30deg) translate(650%);
                transition: all 0.6s;
                opacity: 1;
                visibility: visible;
            }

        }
        &:focus {
            box-shadow: black 0 0 0 10px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
                rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        }
        &:active {
            box-shadow: #d6d6e7 0 3px 7px inset;
            transform: translateY(5px);
        }
    }
}
